
@media print {
  body * {
    visibility: hidden;
  }
  .hilang {
    visibility: hidden;
  }

  #receipt,
  #receipt * {
    visibility: visible;
  }

  #receipt {
    position: absolute;
    left: 0;
    top: 0;
    width: 58mm;
    font-family: monospace;
  }

  .print\:hidden {
    display: none !important;
  }
  
}



@import "tailwindcss";